.list {
  border: 1px solid #e4e5e6;
  border-radius: 3px;

  box-sizing: border-box;
  color: rgba(36, 41, 46, 0.75);
}

.list ul {
  display: grid;
  grid-template-columns: 128px 1fr auto;
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.list li {
  text-decoration: none;
  padding: 8px;
}

.list header {
  background-color: #f4f5f5;
}

.list ul:nth-child(odd) {
  background-color: #f4f5f5;
}

.list span.health {
  display: inline-block;
  font-size: 12px;
  padding: 4px 8px;
  min-width: 64px;
  color: #ffffff;
  background-color: #595c60;
  border: 1px solid #595c60;
  border-radius: 3px;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  line-height: 1.2em;
}

span.health.state-ok {
  color: #ffffff;
  background-color: #3b8160;
  border-color:#3b8160;
}

span.health.state-error {
  color: #ffffff;
  background-color: #d2476d;
  border-color: #d2476d;
}

span.health.state-warn {
  color: #000000;
  background-color: #f5d65b;
  border-color: #f5d65b;
}

.list .text {
  padding: 10px 8px;
}

.list .viewButton {
  display: inline-block;
  background: none;
  background-color: rgb(56, 133, 220);
  color: #ffffff;

  border: 1px solid rgb(56, 133, 220);
  border-radius: 3px;

  text-decoration: none;

  padding: 0px 15px;
  line-height: 24px;
  font-size: 0.8em;
}
