.navbar {
  display: flex;
  position: relative;
  background-color: #ffffff;
  border-bottom: 1px solid #e4e5e6;
  height: 30px;

  padding: 10px 16px 10px 16px;
}

.navbar header, .navbar header img {
  display: block;
  height: 26px;
  margin-top: 1px;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 1.5em;
  margin: 0px;
}

.navbar ul li {
  display: list-item;
  margin-right: 1em;
}

.navbar ul li, .navbar a {
  color: #25292e;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  line-height: 225%;
}

/* "Status" dropdown */
.statusLink {
  cursor: pointer;
}

.statusLink .caret {
  /* Add space between caret and text preceeding it */
  margin-left: 2px;
}


/* Box when "status" dropdown is showing */
.statusLink ul {
  display: block;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #e4e5e6;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0px;
}

.statusLink ul[hidden] {
  display: none;
}

.statusLink ul li {
  margin: 0px;
  padding: 6px 12px;
}

.statusLink ul li:hover {
  background-color: #ccced0;
}
