.rpmdb/
.idea
.uptodate
.published
.pkg
.cache
.vscode
vendor
cover*.out

cmd/agent/agent
cmd/agentctl/agentctl
cmd/agent-operator/agent-operator
dist/
packaging/windows/LICENSE
packaging/windows/agent-windows-amd64.exe

.DS_Store
