/.rpmdb/
/.idea
/.published
/.pkg
/.cache
/.vscode
/.eventcache
data-agent

/cmd/agent/agent
/cmd/agentctl/agentctl
/cmd/agent-operator/agent-operator
/cmd/grafana-agent-crow/grafana-agent-crow
/build/
/dist/
/dist.temp/
/packaging/windows/LICENSE
/packaging/windows/agent-windows-amd64.exe

.DS_Store
buildx-v*
cover*.out
.uptodate
node_modules
