[Unit]
Description=Vendor-neutral programmable observability pipelines.
Documentation=https://grafana.com/docs/agent/latest/flow/
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=grafana-agent-flow
Environment=HOSTNAME=%H
Environment=AGENT_DEPLOY_MODE=rpm
EnvironmentFile=/etc/sysconfig/grafana-agent-flow
WorkingDirectory=/var/lib/grafana-agent-flow
ExecStart=/usr/bin/grafana-agent-flow run $CUSTOM_ARGS --storage.path=/var/lib/grafana-agent-flow $CONFIG_FILE
ExecReload=/usr/bin/env kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
