# For mkdocs

# Use newer mkdocs so indexing can be done on titles only
git+https://github.com/mkdocs/mkdocs.git@57b5ccd7d63e5b7067d37d0433111e9a5278fb6d

# To limit search to a subset
mkdocs-exclude-search>=0.5

# To minify the HTML
mkdocs-minify-plugin>=0.3

# Include the theme
mkdocs-material>=7.1.6
