[Unit]
Description=Monitoring system and forwarder
Documentation=https://grafana.com/docs/agent/latest/
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=grafana-agent
Environment=HOSTNAME=%H
Environment=AGENT_DEPLOY_MODE=rpm
EnvironmentFile=/etc/sysconfig/grafana-agent
WorkingDirectory=/var/lib/grafana-agent
ExecStart=/usr/bin/grafana-agent --config.file $CONFIG_FILE $CUSTOM_ARGS
ExecReload=/usr/bin/env kill -HUP $MAINPID
# If running the Agent in scraping service mode, you will want to override this value with
# something larger to allow the Agent to gracefully leave the cluster. 4800s is recommend.
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
