.page {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.page nav {
  border-radius: 3px;
  width: 250px;
  min-width: 250px;
  margin: 15px;
  overflow-y: auto;
  font-size: 0.9em;
}

.page nav h1 {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0px 0px;
  color: #545556;
}

.page nav ul {
  list-style-type: none;
  padding-left: 16px;
}

.page nav hr {
  border: none;
  border-top: 1px solid #545556;
}

.page nav li,
.page nav a {
  color: #545556;
  text-decoration: none;
  margin: 20px 0px;
}

.page nav a:hover,
.page nav a:focus {
  text-decoration: underline;
}

.page .content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow-y: auto;
}

.content h1 .icon {
  margin-right: 5px;
}

.content h1 span.healthLabel {
  position: relative;
  top: -3px;
}

.content h1 span.healthLabel > * {
  transform: scale(0.75);
}

.content h1 .icon svg {
  width: 21px;
  color: rgba(36, 41, 46, 0.75);
  position: relative;
  top: 2px;
}

.content h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgb(36, 41, 46);
  font-size: 1.4em;
  font-weight: normal;
  margin-bottom: 8px;
}

.content h2,
h3,
h4,
h5,
h6 {
  font-size: 1.2em;
}

.content .docsLink {
  display: block;
  width: fit-content;
  height: fit-content;
  font-size: 10px;
  padding: 5px;

  color: #ffffff;
  background-color: rgb(56, 133, 220);
  border: 1px solid rgb(56, 133, 220);
  border-radius: 3px;
}

.docsLink a {
  color: #ffffff;
  text-decoration: none;
}

.content blockquote {
  border: 1px solid #e4e5e6;
  border-radius: 3px;
  color: #555;
  margin: 20px 0px;
  padding: 20px 20px;
}

.content blockquote h1 {
  color: #555;
  margin: 0px;
  font-size: 12px;
  font-weight: bold;
}

.content blockquote p {
  margin-bottom: 0px;
  font-family: 'Fira Code', monospace;
}

.content div.sectionContent {
  background-color: white;
  border: 1px solid #e4e5e6;
  border-radius: 3px;
  padding: 16px;
}

.content section.nested {
  margin-left: 32px;
}

em.informative {
  color: #555;
  font-size: 14px;
}

.list {
  border: 1px solid #e4e5e6;
  border-radius: 3px;

  box-sizing: border-box;
  color: rgba(36, 41, 46, 0.75);
}

td.nameColumn {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
  vertical-align: top;
  padding: 6px;
  color: black;
}

.pre {
  margin: 0;
  font-size: 14px;
}
