.page {
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.page nav {
  border-radius: 3px;
  width: 250px;
  min-width: 250px;
  margin: 15px;
  overflow-y: auto;
  font-size: 0.9em;
}

.page nav h1 {
  font-size: 0.8em;
  font-weight: bold;
  margin: 0px 0px;
  color: #545556;
}

.page nav ul {
  list-style-type: none;
  padding-left: 16px;
}

.page nav hr {
  border: none;
  border-top: 1px solid #545556;
}

.page nav li, .page nav a {
  color: #545556;
  text-decoration: none;
  margin: 20px 0px;
}

.page nav a:hover, .page nav a:focus {
  text-decoration: underline;
}

.page > main.content {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow-y: auto;
}

.page h1 .icon {
  margin-right: 5px;
}

.page h1 span.healthLabel {
  position: relative;
  top: -3px;
  left: 5px;
}

.page h1 span.healthLabel > * {
  transform: scale(0.75);
}

.page h1 .icon svg {
  width: 21px;
  color: rgba(36, 41, 46, 0.75);
  position: relative;
  top: 2px;
}

.page h1, h2, h3, h4, h5, h6 {
  color: rgb(36, 41, 46);
  font-size: 1.4em;
  font-weight: normal;
}

.page h2, h3, h4, h5, h6 {
  font-size: 1.2em;
}

.page table {
  text-align: left;
  border: 1px solid #e4e5e6;
  width: 100%;
  border-radius: 3px;
  border-spacing: 0;
}

.page table tr:last-child, .page table td {
}

.page table thead tr {
  background-color: #f4f5f5;
}

.page table tbody tr:nth-child(even) {
  background-color: #f4f5f5;
}

.page table th, .page table td {
  vertical-align: top;
  padding: 8px;
}

.page table th {
  color: rgba(36, 41, 46, 0.75);
  font-weight: normal;
}

th.nameColumn {
  width: 150px;
}

td.nameColumn {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}

td.valueColumn {
  margin: 0px;
}

.page section div.sectionContent {
  background-color: white;
  border: 1px solid #e4e5e6;
  border-radius: 3px;
  padding: 16px;
}


.page section.nested {
  margin-left: 32px;
}
