.table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

.table td,
.table th {
  border: none;
  padding: 2px 2px;
}

.table tr td {
  height: 20px;
}

.table tr:nth-child(odd) {
  background-color: #f4f5f5;
}

.table tr:nth-child(even) {
  background-color: white;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding: 12px 0px;
  text-align: left;
  background-color: #f4f5f5;
  color: rgba(36, 41, 46, 0.75);
}

.table td:first-child {
  width: 2%;
}
