server:
  log_level: debug
  http_listen_port: 12345

prometheus:
  global:
    scrape_interval: 5s
  configs:
    - name: test
      host_filter: false
      scrape_configs:
        - job_name: local_scrape
          static_configs:
            - targets: ['127.0.0.1:12345']
              labels:
                cluster: 'docker_compose'
                container: 'agent'
                pod: 'grafana-agent-local'
        - job_name: cortex_scrape
          static_configs:
            - targets: ['cortex:9009']
              labels:
                cluster: 'docker_compose'
                container: 'cortex'

        - job_name: avalanche-1
          static_configs:
            - targets: ['avalanche-1:9001']
              labels:
                cluster: 'docker_compose'
                container: 'avalanche-1'
        - job_name: avalanche-2
          static_configs:
            - targets: ['avalanche-2:9001']
              labels:
                cluster: 'docker_compose'
                container: 'avalanche-2'
        - job_name: avalanche-3
          static_configs:
            - targets: ['avalanche-3:9001']
              labels:
                cluster: 'docker_compose'
                container: 'avalanche-3'

      remote_write:
        - url: http://cortex:9009/api/prom/push

loki:
  configs:
  - name: default
    positions:
      filename: /tmp/positions.yaml
    clients:
      - url: http://loki:3100/loki/api/v1/push
    scrape_configs:
    - job_name: system
      static_configs:
        - targets:
          - localhost
          labels:
            job: varlogs
            __path__: /var/log/*log

tempo:
  configs:
  - name: default
    receivers:
      jaeger:
        protocols:
          thrift_http:
            endpoint: 0.0.0.0:14268
    attributes:
      actions:
      - action: upsert
        key: env
        value: prod
    push_config:
      endpoint: otel-collector:55680
      insecure: true
      batch:
        timeout: 5s
        send_batch_size: 100
  - name: default2
    receivers:
      jaeger:
        protocols:
          thrift_http:
            endpoint: 0.0.0.0:14269
    attributes:
      actions:
      - action: upsert
        key: env
        value: prod2
    push_config:
      endpoint: otel-collector:55680
      insecure: true
      batch:
        timeout: 5s
        send_batch_size: 100
