server:
  log_level: debug
  http_listen_port: 12345

prometheus:
  global:
    scrape_interval: 5s
  scraping_service:
    enabled: true
    kvstore:
      store: etcd
      etcd:
        endpoints:
          - etcd:2379
    lifecycler:
      ring:
        replication_factor: 1
        kvstore:
          store: etcd
          etcd:
            endpoints:
              - etcd:2379

tempo:
  configs:
    - name: default
      receivers:
        jaeger:
          protocols:
            thrift_http:
      attributes:
        actions:
          - action: upsert
            key: env
            value: prod
      remote_write:
        - endpoint: otel-collector:55680
          insecure: true
      batch:
        timeout: 5s
        send_batch_size: 100
      tail_sampling:
        policies:
          - always_sample:
#            Enter more policies to sample traces (ref: https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/tailsamplingprocessor)
#            Example of rate limiting policy. Uncomment to start rate limiting!
#          - rate_limiting:
#              spans_per_second: 35
        load_balancing:
          exporter:
            insecure: true
          resolver:
            static:
              hostnames:
                - agent-1:4318
                - agent-2:4318
                - agent-3:4318
      spanmetrics:
        dimensions:
          - name: http.url
        handler_endpoint: 0.0.0.0:8889

