# agent-local is intended to be used with docker-compose.integrations.yaml.
server:
  log_level: info
  http_listen_port: 12345

metrics:
  wal_directory: /tmp/agent
  global:
    scrape_interval: 1m
    remote_write:
      - url: http://localhost:9009/api/prom/push
  configs:
    - name: default
      scrape_configs:
      - job_name: cortex
        static_configs:
          - targets: ['localhost:9009']
      - job_name: loki
        static_configs:
          - targets: ['localhost:3100']

logs:
  positions_directory: /tmp/loki-positions
  configs:
  - name: default
    clients:
      - url: http://localhost:3100/loki/api/v1/push
    scrape_configs:
    - job_name: system
      static_configs:
      - targets: ['localhost']
        labels:
          job: varlogs
          __path__: /var/log/*log

integrations:
  agent: {}
  node_exporter: {}
  process_exporter:
    process_names:
      - name: "{{.Comm}}"
        cmdline:
        - '.+'
  mysqld_exporter:
    data_source_name: root@(localhost:3306)/
  postgres_exporter:
    data_source_names:
      - postgresql://postgres:password@localhost:5432/postgres?sslmode=disable
  redis_exporter:
    redis_addr: localhost:6379
  dnsmasq_exporter:
    dnsmasq_address: localhost:30053
    leases_path: /tmp/dnsmasq-leases/dnsmasq.leases
  memcached_exporter:
    memcached_address: localhost:11211
    timeout: 10s
  statsd_exporter:
  consul_exporter:
  elasticsearch_exporter:
    address: http://localhost:9200
  kafka_exporter:
    kafka_uris: [localhost:9093]
  github_exporter:
    repositories:
      - grafana/agent
  mongodb_exporter:
    mongodb_uri: mongodb://mongodb:27017
    relabel_configs:
    - source_labels: [__address__]
      target_label: service_name
      replacement: 'mongodb'
    - source_labels: [__address__]
      target_label: mongodb_cluster
      replacement: 'mongodb-cluster'
  cadvisor:
    disabled_metrics:
    - disk
    enabled_metrics:
    - percpu
