[Unit]
Description=Monitoring system and forwarder
Documentation=https://github.com/grafana/agent/blob/master/docs/README.md
Wants=network-online.target
After=network-online.target

[Service]
Restart=always
User=grafana-agent
EnvironmentFile=/etc/default/grafana-agent
ExecStart=/usr/bin/grafana-agent --config.file $CONFIG_FILE --log.level $LOG_LEVEL $CUSTOM_ARGS
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
