.value {
  font-size: 14px;
  font-family: 'Fira Code', monospace;
  white-space: pre;
  tab-size: 4;
  margin: 0px;
}

.value span.literal {
  color: blue;
}

.value span.string {
  color: green;
}

.value span.special {
  color: gray;
}
