.value {
  font-size: 14px;
  font-family: 'Fira Code', monospace;
  white-space: pre;
  tab-size: 4;
  margin: 0px;
}

.value span.literal {
  color: blue;
}

.value span.string {
  color: green;
}

.value span.special {
  color: gray;
}

.grid-layout {
  display: grid;
  grid-template-columns: max-content 2% auto;
}

.grid-layout:hover {
  background-color: #ddd;
}

.grid-item {
  padding: 0px 5px;
  font-size: 13px;
  word-break: break-all;
  white-space: pre-line;
}

.grid-key {
  margin-left: 20px;
}
