name: Check Dependencies
on:
  workflow_dispatch: {}
jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Invoke action
      uses: rfratto/depcheck@main
      with:
        dry-run: 'true'
        github-token: ${{ secrets.GITHUB_TOKEN }}
