name: Integration Tests
on:
  # Run tests on main just so the module and build cache can be saved and used
  # in PRs. This speeds up the time it takes to test PRs dramatically.
  push:
    branches:
      - main
  pull_request:
jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    - name: Setup Go
      uses: actions/setup-go@v4
      with:
        go-version: "1.21.0"
        cache-dependency-path: "**/*.sum"
    - name: Set OTEL Exporter Endpoint
      run: echo "OTEL_EXPORTER_ENDPOINT=http://172.17.0.1:8080" >> $GITHUB_ENV
    - name: Run tests
      run: |
        top -b -n 10 -d 5 > top_output.txt &
        TOP_PID=$!
        cd integration-tests/tests
        ./run-integration-tests.sh
        kill $TOP_PID