name: Release
on:
  push:
    tags:
      - '*'
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
      run: docker login -u '${{ secrets.DOCKER_USER }}' -p '${{ secrets.DOCKER_PASS }}'

    - name: Set up Go 1.14
      uses: actions/setup-go@v1
      with:
        go-version: 1.14
      id: go

    - name: Install gox and ghr
      run: |
        pushd /
        GO111MODULE=on go get -u \
          github.com/mitchellh/gox \
          github.com/tcnksm/ghr
        popd

    - name: Checkout code
      uses: actions/checkout@v2

    - name: Test
      run: make test

    - name: Make Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        # This is required so gox and ghr are available
        export PATH="$(go env GOPATH)/bin:$PATH"

        export RELEASE_TAG=${GITHUB_REF##*/}
        make agent-image
        make push-agent-image
        make publish
