name: Test
on: [pull_request]
jobs:
  test:
    name: Test
    strategy:
      matrix:
        platform: [macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Go 1.18
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.0
      id: go
    - name: Determine Go cache directories
      id: go-cache
      run: |
        echo "::set-output name=go-build::$(go env GOCACHE)"
        echo "::set-output name=go-mod::$(go env GOMODCACHE)"
    - name: Restore Go cache
      uses: actions/cache@v3.0.4
      with:
        path: |
          ${{ steps.go-cache.outputs.go-build }}
          ${{ steps.go-cache.outputs.go-mod }}
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Increase pagefile
      uses: al-cheb/configure-pagefile-action@v1.2
      # Tests on Windows can use a lot of memory, and we need to increase the
      # pagefile to compensate.
      with:
          minimum-size: 16GB
          maximum-size: 16GB
          disk-root: "C:"
      if: ${{ matrix.platform == 'windows-latest' }}
    - name: Test
      run: make DOCKER_OPTS="" GOFLAGS="-tags=netgo,nodocker" BUILD_IN_CONTAINER=false test
