name: Test
on:
  # Run tests on main just so the module and build cache can be saved and used
  # in PRs. This speeds up the time it takes to test PRs dramatically.
  push:
    branches:
      - main
  pull_request:
jobs:
  test:
    name: Test
    strategy:
      matrix:
        platform: [windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Set up Go 1.20
      uses: actions/setup-go@v3
      with:
        go-version: "1.20.3"
        cache: true
    - name: Test
      run: make GO_TAGS="nodocker,nonetwork" test
