name: Test
on: [pull_request]
jobs:
  test:
    name: Test
    strategy:
      matrix:
        platform: [macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2.1.5
      with:
        go-version: 1.17.6
      id: go
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Build
      run: make GOFLAGS="-tags=netgo,nodocker" BUILD_IN_CONTAINER=false cmd/agent/agent cmd/agentctl/agentctl cmd/agent-operator/agent-operator
    - name: Test
      run: make GOFLAGS="-tags=netgo,nodocker" BUILD_IN_CONTAINER=false test
