name: Test Packages
on:
  pull_request:
    branches:
    - main
    paths:
    - packaging/**
    - Makefile
jobs:
  test:
    name: Test Packages
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.18
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.0
      id: go
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Create build container cache
      run: make build-container-cache
    - name: Build agent-linux-amd64
      run: USE_CONTAINER=1 DOCKER_OPTS="" make dist/agent-linux-amd64
    - name: Build agentctl-linux-amd64
      run: USE_CONTAINER=1 DOCKER_OPTS="" make dist/agentctl-linux-amd64
    - name: Test packages
      run: USE_CONTAINER=1 DOCKER_OPTS="" make test-packages
