name: Test Packages
on:
  pull_request:
    branches:
    - main
    paths:
    - packaging/**
    - Makefile
jobs:
  test:
    name: Test Packages
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.18
      uses: actions/setup-go@v3
      with:
        go-version: 1.18.0
      id: go
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Test
      run: USE_CONTAINER=1 DOCKER_OPTS="" make test-packages
